/* Style the buttons that are used to open and close the accordion panel */
body {
    background-image: url("../images/backgound6.jpeg");
    background-size: cover;
    /* background-color: darksalmon; */
}


.accordion {
    background-color: plum;
    color: darkred;
    opacity: .75;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: blue;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  /* .active, .panel:hover {
    background-color: #666;
    color: white;
  } */

h1 {
    font-family: 'Geostar Fill', cursive;
    font-size: 75px;
    text-align: center;
    color: deeppink;
}
nav {
    display: flex;
    flex-direction: row;
}
button {
    height: 45px;
    width: 240px;
    background-color: darkgoldenrod;
    color: greenyellow;
    border-radius: 12px;
    font-size: 20px;
    vertical-align: middle;
}
.charsect {
    /* float: right; */
}
img {
    float: left;
    width: 200px;
    height: auto;
}


  /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: red;
    color: white;
  }







